[submodule "gramarye"]
	path = gramarye
	url = https://github.com/noahspoling/DungeonDelve.git
[submodule "gramarye-libcore"]
	path = gramarye-libcore
	url = https://github.com/noahspoling/gramarye-libcore.git
[submodule "gramarye-ecs"]
	path = gramarye-ecs
	url = https://github.com/noahspoling/gramarye-ecs.git
[submodule "gramarye-query-engine"]
	path = gramarye-query-engine
	url = https://github.com/noahspoling/gramarye-query-engine.git
